/*
Licensed per https://github.com/privacy-tech-lab/gpc-optmeowt/blob/main/LICENSE.md
privacy-tech-lab, https://privacytechlab.org/
*/

/*
styles.css
================================================================================
styles.css is the main css page for OptMeowt's popup page
*/

:root {
  --text-gray: rgb(89, 98, 127);
}

.small-warning-box {
  color: white;
  background-color: #db4437;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  text-align: left;
}

.importexport-button {
  background-color: white;
  border-color: #888fa1;
  color: #888fa1;
  padding: 12px 16px;
  text-align: center;
  text-decoration-color: none;
  font-size: 14px;
  display: inline-block;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 0 8px 16px -1px rgba(211, 211, 211, 0.2);
  outline: none;
  transition: all ease 0.25s;
}
.importexport-button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: white;
  box-shadow: 0 6px 12px var(--accent-color-lighter-60);
  transition: all ease 0.25s;
}

.button:hover {
  background-color: #df3131 !important;
  border: 1px solid #df3131 !important;
  transition: all 0.3s ease;
  color: #fff !important;
}

.uspStringElem {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  padding-left: 8px;
  background-color: white;
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
}

.uspStringElem:hover {
  background-color: white;
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
}

.uspStringElem:active {
  background-color: white;
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
}

.optMode {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  border: 1px solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
  text-decoration-color: none;
  font-size: 20px;
  box-shadow: 0 6px 12px -1px rgba(190, 190, 190, 0.2);
  outline: none;
  transition: all ease 0.25s;
}

.optMode:hover {
  color: var(--text-gray) !important;
}

/*
SVG photo assets style
*/
@import "../options/styles.css";
svg {
  fill: #d3d3d3;
  transition: all ease 0.5s;
}

svg:hover {
  fill: #5a647d;
  transition: all ease 0.5s;
}

/********************************************************/

/*
Blue Heading
*/
.blue-heading {
  color: #4472c4;
}

/*=======================================================================================*/
/*tutorial popup css*/
.tippy-box[data-theme~="custom-2"] {
  background-color: #87cefa;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  float: left;
}

.tippy-box[data-theme~="custom-2"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: #87cefa;
}

/********************************************************/

/*
Animated 3rd party domains/domain list buttons/links
*/

.domain-list:hover {
  background-color: var(--accent-color);
  color: white;
  transition: ease-out 0.1s;
}

.analysis-list:hover {
  background-color: var(--accent-color);
  color: white;
  transition: ease-out 0.1s;
}

.dropdown-tab:hover {
  background-color: var(--highlight-light);
  color: var(--text-color-darker);
  transition: ease-out 0.1s;
}

.dropdown-tab-click {
  background-color: var(--highlight-light);
  color: var(--text-color-darker);
}

/********************************************************/

/*
Accepted/rejected text on popup
*/

.status-text-red {
  color: red;
  /* border: solid red 2px;
  border-radius: 14px;
  box-shadow: 0 8px 16px -1px rgba(211, 211, 211, .2);
  outline: none; */
}

.divide {
  border: 0;
  /* height: 1px;
  background: black; */
}

/* .uk-list-divide {
  border: 0;
  height: 1px;
  background: black;
} */
