/* Colors */
:root {
    --accent-color: #4472C4;
    --accent-color-lighter-80: #DAE3F3;
    --accent-color-lighter-60: #B4C7E7;
    --accent-color-lighter-40: #8FAADC;
    --accent-color-darker-25:  #2F5597;
    --accent-color-darker-50:  #203864;

    --text-color: #888fa1;
    --text-color-darker: #5a647d ;
    --text-color-inactive: #d3d3d3 ;
}

.text-color-darker {
    color: var(--text-color-darker)
}

.text-color {
    color: var(--text-color)
}

/* Body style */
body {
    color: var(--text-color);
    user-select: none;
}

/* Navbar item style */
.navbar-item {
    color: var(--text-color-inactive);
    opacity: 1;
    cursor: pointer;
    transition: all ease 0.5s;
}

.navbar-item.active{
    color: var(--accent-color);
}

/*
Radio buttons style
*/
input[type="radio"]{
	width: 35px; height: 35px;
	transition: all ease 0.5s;
}

input[type="radio"]:checked{
    transition: all ease 0.25s;
    background-image: var(--accent-color);
    box-shadow: 0 6px 12px var(--accent-color-lighter-60);
}

input[type='radio']:hover:not(:checked) {
    transition: all ease 0.25s;
    box-shadow: 0 6px 12px var(--accent-color-lighter-60);
    border-color: transparent;
  }