/* Colors */
:root {
    --accent-color: #4472C4;
    --accent-color-lighter-80: #DAE3F3;
    --accent-color-lighter-60: #B4C7E7;
    --accent-color-lighter-40: #8FAADC;
    --accent-color-darker-25:  #2F5597;
    --accent-color-darker-50:  #203864;

    --text-color: #888fa1;
    --text-color-darker: #5a647d ;
    --text-color-inactive: #d3d3d3 ;
}

.text-color-darker {
    color: var(--text-color-darker)
}

.text-color {
    color: var(--text-color)
}

/********************************************************/

/* Body style */
body {
    color: var(--text-color);
    user-select: none;
}

/********************************************************/

/* Navbar item style */
.navbar-item {
    color: var(--text-color-inactive);
    opacity: 1;
    cursor: pointer;
    transition: all ease 0.5s;
}

.navbar-item.active{
    color: var(--accent-color);
}

/********************************************************/

/*
Radio buttons style
*/
input[type="radio"]{
	width: 35px; height: 35px;
	transition: all ease 0.5s;
}

input[type="radio"]:checked{
    transition: all ease 0.25s;
    background-image: var(--accent-color);
    box-shadow: 0 6px 12px var(--accent-color-lighter-60);
}

input[type='radio']:hover:not(:checked) {
    transition: all ease 0.25s;
    box-shadow: 0 6px 12px var(--accent-color-lighter-60);
    border-color: transparent;
  }

/********************************************************/

/* Checkbox */
.check {
    transform: scale(1.25);
    padding: 0px;
    /* border-color: #888fa1; */
}

/********************************************************/

/* Switch
https://codepen.io/aaroniker/pen/oaQdQZ
*/
.switch {
    cursor: pointer;
  }
  .switch input {
    display: none;
  }
  .switch input + span {
    width: 48px;
    height: 28px;
    border-radius: 14px;
    transition: all 0.3s ease;
    display: block;
    position: relative;
    background: #888fa1;
    box-shadow: 0 8px 16px -1px rgba(211, 211, 211, .2);
  }
  .switch input + span:before, .switch input + span:after {
    content: '';
    display: block;
    position: absolute;
    transition: all 0.3s ease;
  }
  .switch input + span:before {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 5px solid #fff;
  }
  .switch input + span:after {
    top: 5px;
    left: 32px;
    width: 6px;
    height: 18px;
    border-radius: 40%;
    transform-origin: 50% 50%;
    background: #fff;
    opacity: 0;
  }
  .switch input + span:active {
    transform: scale(0.92);
  }
  .switch input:checked + span {
    background: #48ea8b;
    box-shadow: 0 8px 16px -1px rgba(72, 234, 139, .2);
  }
  .switch input:checked + span:before {
    width: 0px;
    border-radius: 3px;
    margin-left: 27px;
    border-width: 3px;
    background: #fff;
  }
  .switch input:checked + span:after {
    animation: blobChecked 0.35s linear forwards 0.2s;
  }
  .switch input:not(:checked) + span:before {
    animation: blob 0.85s linear forwards 0.2s;
  }
  @keyframes blob {
    0%, 100% {
      transform: scale(1);
   }
    30% {
      transform: scale(1.12, 0.94);
   }
    60% {
      transform: scale(0.96, 1.06);
   }
  }
  @keyframes blobChecked {
    0% {
      opacity: 1;
      transform: scaleX(1);
   }
    30% {
      transform: scaleX(1.44);
   }
    70% {
      transform: scaleX(1.18);
   }
    50%, 99% {
      transform: scaleX(1);
      opacity: 1;
   }
    100% {
      transform: scaleX(1);
      opacity: 0;
   }
  }
  * {
    box-sizing: border-box;
  }
  *:before, *:after {
    box-sizing: border-box;
  }