<!--
Licensed per https://github.com/privacy-tech-lab/gpc-optmeowt/blob/main/LICENSE.md
privacy-tech-lab, https://privacytechlab.org/
-->

<!--
analysis-view.html
================================================================================
analysis-view.html contains the 'analysis' view template to be loaded into the
options page when clicked
-->

<!--
    This is the body content inflated into scaffold-component.html when
    the `analysis view` is called by a user from within the options page.
-->
<template id="analysis-view">
  <div uk-grid>
    <div class="uk-width-3-4" style="margin-top: 0px">
      <!-- Navbar -->
      <div class="analysis-navbar" id="analysis-navbar">
        <div class="uk-text-lead uk-text-bold text-color-darker">Domains</div>
        <form
          class="uk-search uk-search-default uk-width-3-4"
          style="margin-top: 1%"
        >
          <div class="uk-margin">
            <div class="uk-inline uk-width-expand">
              <span
                class="uk-form-icon uk-form-icon-flip"
                uk-icon="icon: plus"
              ></span>
              <input
                class="uk-input search"
                style="border-radius: 5px"
                id="searchbar"
                type="text"
                placeholder="Type to search for a domain"
              />
            </div>
          </div>
        </form>
      </div>

      <!-- Analysis list -->
      <ul
        class="uk-list uk-list-divider uk-width-1-1"
        style="margin-top: 0px; margin-bottom: 0px"
        id="analysis-main"
      >
        <li></li>
      </ul>
    </div>
  </div>
</template>
