<!--
Licensed per https://github.com/privacy-tech-lab/gpc-optmeowt/blob/main/LICENSE.md
privacy-tech-lab, https://privacytechlab.org/
-->


<!--
domainlist-view.html
================================================================================
domainlist-view.html contains the 'domainlist' view template to be loaded into the
options page when clicked
-->


<!--
    This is the body content inflated into scaffold-component.html when
    the `domainlist view` is called by a user from within the options page.
-->
<template id="domainlist-view">
  <div uk-grid>
    <div class="uk-width-3-4" style="margin-top: 0px;">

      <!-- Navbar -->
      <div class="domainlist-navbar" id="domainlist-navbar">
        <div class="uk-text-lead uk-text-bold text-color-darker">
          Domains
        </div>
        <br>
      </div>

      <!-- Domainlist -->
      <ul
        class="uk-list uk-list-divider uk-width-1-1"
        style="margin-top: 0px; margin-bottom: 0px;"
        id="domainlist-main"
      >
      <li>
        <div uk-grid class="uk-grid-small uk-width-1-1" style="font-size: medium;">
          <div class="domain uk-width-expand" >
            Loading...
          </div>
          <div style="
            margin-right: auto;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            "
          >
        </div>
      </li>
      </ul>

    </div>
  </div>
</template>
