<!--
Licensed per https://github.com/privacy-tech-lab/gpc-optmeowt/blob/main/LICENSE.md
privacy-tech-lab, https://www.privacytechlab.org/
-->


<!--
settings-view.html
================================================================================
settings-view.html contains the 'settings' view template to be loaded into the
options page when clicked
-->


<!--
    This is the body content inflated into scaffold-component.html when
    the `settings view` is called by a user from within the options page.
-->
<template id="settings-view">
  <div id="welcome-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header uk-flex uk-flex-column uk-flex-middle">
            <img src="../../../assets/face-icons/icon64-face-circle.png" alt="" style="margin: 0px;">
            <h2 class="uk-align-center text-color-darker">Welcome to OptMeowt!</h2>
        </div>
        <div class="uk-modal-body" style="font-size: 15px; text-align: center;">
          OptMeowt has been successfully installed on your browser! Would you like a quick walkthrough of the options page?
        </div>
        <div class="uk-modal-footer">
          <button id="modal-button-1" class="text-color uk-button uk-button-default uk-align-right" style="margin: 0px 10px;">NOT NOW</button>
          <button id="modal-button-2" class="text-color uk-button uk-button-default uk-align-right" style="margin: 0px 10px;">OK</button>
        </div>
    </div>
  </div>

  <div id="analysis-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header uk-flex uk-flex-column uk-flex-middle">
            <h2 class="uk-align-center text-color-darker">Using Analysis Mode</h2>
        </div>
        <div class="uk-modal-body" style="font-size: 15px; text-align: left;">
          <div class="small-warning-box">
            <div style="font-weight:bold;">Warning</div>
            <div>Content security policy disabled. Do not browse normally in Analysis Mode.</div>
          </div>
          <br>
          <div style="font-weight:bold;">Instructions</div>
          <div>We recommend using a clean browser (cleared cookies) to prevent inaccuracies from possible conflicts with saved data</div>
          <div>If you would prefer to keep your cookies, feel free to create a new Firefox profile for using Analysis Mode</div>
        </div>
        <div class="uk-modal-footer">
          <button id="modal-button-3" class="text-color uk-button uk-button-default uk-align-right" style="margin: 0px 5px;">OK</button>
        </div>
    </div>
  </div>

  <div>
    <label>
      <div uk-grid class="uk-grid-column-small" style="margin-left: 0px;">
        <div class="uk-container" style="margin: auto;">
          <input
            class="uk-radio"
            type="radio"
            name="radio"
            id="settings-view-radio0"
          />
        </div>
        <div uk-grid class="uk-grid-row-collapse uk-width-expand">
          <div
            class="uk-first-column uk-width-1-1 uk-text-bold settings-popup1"
            style="font-size: large;"
            id="settings-view-radio0-text"
          >
            Enable
          </div>
          <div class="uk-first-column uk-width-1-1" style="font-size: small;">
            Sends 'Do Not Sell' signals to every visited domain
          </div>
        </div>
      </div>
    </label>
    <br />
    <label>
      <div uk-grid class="uk-grid-column-small" style="margin-left: 0px;">
        <div class="uk-container" style="margin: auto;">
          <input
            class="uk-radio"
            type="radio"
            name="radio"
            id="settings-view-radio2"
          />
        </div>
        <div uk-grid class="uk-grid-row-collapse uk-width-expand">
          <div
            class="uk-first-column uk-width-1-1 uk-text-bold tutorial-tooltip1"
            style="font-size: large;"
          >
            Domain List
          </div>
          <div class="uk-first-column uk-width-1-1" style="font-size: small;">
            Sends 'Do Not Sell' signals according to the custom Domain List
          </div>
        </div>
      </div>
    </label>
    <br />
    <label>
      <div uk-grid class="uk-grid-column-small" style="margin-left: 0px;">
        <div class="uk-container" style="margin: auto;">
          <input
            class="uk-radio"
            type="radio"
            name="radio"
            id="settings-view-radio1"
          />
        </div>
        <div uk-grid class="uk-grid-row-collapse uk-width-expand">
          <div
            class="uk-first-column uk-width-1-1 uk-text-bold"
            style="font-size: large;"
            id="settings-view-radio1-text"
          >
            Disable
          </div>
          <div class="uk-first-column uk-width-1-1" style="font-size: small;">
            Does not send any 'Do Not Sell' signals
          </div>
        </div>
      </div>
    </label>
  </div>
  <hr>
  <div style="font-weight: bold; font-size: medium; padding-bottom: 10px;">
    Protection Mode Options
  </div>
  <div uk-grid>
    <div>
      <button
        id="download-button" class="importexport-button"
      >
        Export Domain List
      </a>
    </div>
    <div>
      <button
        id="upload-button" class="importexport-button tutorial-tooltip2"
      >
        Import Domain List from File
      </button>
      <input
        hidden
        type="file"
        accept=".json"
        id="upload-domainlist"
      >
      </input>
    </div>
  </div>
  <hr>
  <div style="font-weight: bold; font-size: medium; padding-bottom: 10px;">
    Analysis Mode Options
  </div>
  <div uk-grid>
    <div>
      <button
        id="download-analysis-button" class="importexport-button"
      >
        Export Analysis Data
      </a>
    </div>
  </div>
  <!-- <hr>
  <div uk-grid class="uk-margin-top" style="margin-bottom: 4%;">
    <div
      class="uk-width-expand uk-margin-auto-vertical "
      style="font-weight: bold; font-size: medium;"
    >
      Dark Mode
    </div>
    <div uk-grid>
      <div class="uk-width-auto">
        <label class="custom-control-label switch" for="darkSwitch">
          <input type="checkbox" class="custom-control-input" id="darkSwitch" />
          <span class="tutorial-tooltip3"></span>
        </label>
      </div>
    </div>
  </div> -->

  <div id="thank-you-modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header uk-flex uk-flex-column uk-flex-middle">
            <img src="../../../assets/face-icons/optmeow-face-circle-green-ring-128.png" alt="">
        </div>
        <div class="uk-modal-body" style="font-size: 15px; text-align: center;">
          <h2 class="text-color-darker">Enjoy Using OptMeowt!</h2>
        </div>
        <div class="uk-modal-footer">
          <button id="modal-button-3" class="text-color uk-button uk-button-default uk-align-center">Learn More About Us</button>
        </div>
    </div>
  </div>
  <!-- <script src="../../../libs/dark-mode-switch-1.0.0/dark-mode-switch.min.js" ></script> -->
  <!-- For some reason, this script is not loading from here... -->
</template>
